/assets
/GregTech：CrazyWorld-beta3.3.1.1-natives
/journeymap
/local
/logs
/mods
/patchouli_books
/PCL
/resourcepacks
/saves
/.mixin.out
/shaderspack
crafttweaker.log
GregTech：CrazyWorld-beta3.3.1.1.jar
GregTech：CrazyWorld-beta3.3.1.1.json
patchouli_data.json
usercache.json
usernamecache.json
