/assets
/GregTech：CrazyWorld-beta3.3.1.1-natives
/journeymap
/local
/logs
/patchouli_books
/PCL
/resourcepacks
/saves
/.mixin.out
/shaderpacks
/crash-reports
/libraies
/liteconfig
/versions
/natives
/config/jei
/config/InvTweaks.cfg
/config/splash.properties
/config/AppliedEnergistics2/VersionChecker.cfg
/config/waila/waila.cfg
README.md
launcher_profiles.json
options.txt
optionsof.txt
optionsshaders.txt
crafttweaker.log
GregTech：CrazyWorld-beta3.3.1.1.jar
GregTech：CrazyWorld-beta3.3.1.1.json
patchouli_data.json
usercache.json
usernamecache.json
GTCW-dev.jar
hmclversion.cfg
config/natura.cfg
options.txt
config/splash.properties
*.properties
config/InvTweaks.cfg
config/AppliedEnergistics2/items.csv
